*{
    margin: 0;
    padding: 0;
}

.body{
    background: rgb(26,55,77);
    background: radial-gradient(circle, rgba(26,55,77,1) 0%, rgba(17,17,18,1) 100%);
}
.nav-propio{
    background: rgb(26,55,77);
background: radial-gradient(circle, rgba(26,55,77,1) 0%, rgba(17,17,18,1) 100%);
    opacity: 4;
}
 .title-propio{
    color: #A5C9CA;
    margin-left: 35px;
    font-size: 40px;
    
 }
 .title-propio:hover{
    color: rgb(89, 170, 143);
    margin-top: 20px;

 }
 
 .btn-propio{
background-color: rgb(39, 38, 38);
 }
 .link-propio{
    color: #B1D0E0;
 }

.link-propio:hover{
    color: #6998AB;
}

h1{
    font-family: 'Alegreya', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Playfair Display SC', serif;
    color: #A5C9CA;
    text-align: center;
    margin-bottom: 100px;
    font-size: 100px;
}
h2{
color: #7D9D9C;
}

p{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #7D9D9C;
}
.dis-propio{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 600px;
    font-size: 120px;
}
 ul li{
    list-style: none;
    margin-left: 170px;
    margin-top: 50px;
    font-size: 20px;
 }
.img-1{
    margin-bottom: 300px;
}

.card-propia{
    background-color: #6998ab57;
}

